.dispatcher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 24%;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  box-shadow: 0px 0px 1.2px black;
  padding: 0;
  margin: 0;
  z-index: 900;
}
.dispatcher * { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box !important;
  font-family: 'Roboto', sans-serif; 
}
.dispatcher__title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow: -1px 0px 2.5px rgb(53, 53, 53);
  padding-left: 15px !important;
  padding-right: 6px !important;
}
.dispatcher__title__headline {
  letter-spacing: 2;
}
.dispatcher__title__menu { 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dispatcher__title__menu__item {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-right: 10px !important;
  cursor: pointer;
}
.dispatcher__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}
.dispatcher__menu > span {
  display: block;
  position: relative;
  color: grey;
  font-size: 14px;
  width: 100%;
  height: 54px;
  line-height: 53px;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-left: 12px !important;
  cursor: pointer;
  opacity: 0.8;
  transition: all 300ms;
}
.dispatcher__menu > span:last-child { 
  border: none; 
  opacity: 1 !important; 
}
.copyright {
  position: absolute;
  display: block;
  top: 100%;
  margin-top: -40px;
  color: grey;
  font-size: 14px;
  margin-left: 24px;
}
.select-table {
  display: flex;
  position: absolute;
  border: 6px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 1000;
  transition: all 300ms;
  opacity: 0;
}
.select-table__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 260px;
  height: auto;
  min-height: 68px;
  border: 6px solid grey;
  border-radius: 4px;
  top: 100%;
  left: 50%;
  margin-left: -130px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: rgba(238, 238, 238, 0.92);
  overflow: hidden;
  padding-right: 13px;
}
.select-table__info__accept {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(45, 175, 45);
  box-shadow: 0px 0px 1.5px black;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  padding-right: 1px;
}
.select-table__info__text {
  display: block;
  position: relative;
  width: 180px;
  height: auto;
  min-height: 40px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.select-table__info__text p {
  line-height: 20px;
  color: rgb(82, 82, 82);
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 8px;
  border-radius: 4px;
}
.dispatcher__yandexGoalsBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 100%;
  width: 800px;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  box-shadow: 0px 0px 1.2px black;
  padding: 0;
  margin: 0;
  margin-left: 14px;
  z-index: 900;
  overflow: hidden;
}
.dispatcher__yandexGoalsBoard__title {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 2.5px rgb(53, 53, 53);
  padding-left: 15px !important;
  padding-right: 6px !important;
}
.dispatcher__yandexGoalsBoard__message {
  color: grey;
  display: block;
  position: relative;
  width: 70%;
  line-height: 22px;
  margin-top: 24px;
  padding-left: 24px;
  font-size: 14px;
}
.dispatcher__title__headlineYG {
  letter-spacing: 1;
  font-size: 14px;
}
.dispatcher__authBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 500px;
  height: auto;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
  box-shadow: 0px 0px 1.2px black;
  padding: 0;
  margin: 0;
  margin-left: -250px;
  margin-top: -160px;
  z-index: 900;
  border-radius: 6px;
  padding: 24px;
}
.dispatcher__authBoard__inpsGroup {
  position: relative;
  width: 100%;
  height: auto;
}
.dispatcher__authBoard__inpsGroup__input {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  background-color: white;
  opacity: 0.8;
  box-shadow: 0px 0px 2.5px rgb(53, 53, 53);
  border-radius: 6px;
  margin-bottom: 12px;
  padding-left: 20px;
  font-size: 14px;
}
.dispatcher__authBoard__inpsGroup__input:last-child { margin-bottom: 0px; }
.dispatcher__authBoard__inpsGroup__submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 220px;
  height: 60px;
  border-radius: 6px;
  background-color: grey;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.4;
  transition: all 300ms;
}
.dispatcher__authBoard__inpsGroup__submit p { display: block; }
.selectElementContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 500px;
  height: auto;
  min-height: 100px;
  border-radius: 4px;
  border: 1px dashed grey;
  padding: 26px;
  margin-left: 24px;
  margin-top: 24px;
}
.selectElementContainer__counterInputWrapper,
.selectElementContainer__goalInputWrapper,
.selectElementContainer__goalTypeInputWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-top: 12px;
}
.selectElementContainer__counterInput,
.selectElementContainer__goalInput,
.selectElementContainer__goalTypeInput {
  display: block;
  position: relative;
  width: 260px;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 1.5px black;
  padding-left: 16px;
}
.selectElementContainer__step {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(216, 216, 216);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  margin-left: 14px;
  font-weight: bold;
  color: grey;
}
.selectElementContainer__submit {
  display: block;
  position: relative;
  width: 260px;
  height: 48px;
  border-radius: 4px;
  background-color: rgb(45, 175, 45);
  line-height: 47px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0px 0px 1.5px black;
  margin-top: 12px;
}

